{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Promo &amp; Sale" context "Homepage title" %}</h1>
                <h2>{% trans "from the Northpole" context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="#">
                    {% trans "Shop now" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home__featured">
      <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
      <div class="row ">
        {% include "category/_items.html" %}
      </div>
    </div>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
    <div class=" d-block">
      <h4 style="color:#333; padding-top: 10px;padding-bottom: 10px">PRODUCTS</h4>
      <div class="navigation">
        {% url 'home' as home_url %}
        <ul class=" mb-4 mb-md-0{% if request.get_full_path == home_url %} no-border{% endif %}" style="padding:0px;">
          {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link" href="{{ category.get_absolute_url }}">
                {{ category }}<br>
                <img src=" {% if category.products.all.first.images.all.first.image  %}media/{{ category.products.all.first.images.all.first.image }}{% else %}{% static 'images/ghr-tameer2.png' %}{% endif %}" height="255px" width="255px" alt="">
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{#    <div class="row">#}
{#      <div class="col-sm-12 col-md-6 home__block2">#}
{#        <div class="home--square">#}
{#          <div class="home--content">#}
{#            <div class="home--content-wrapper">#}
{#              <div class="home--content-inner">#}
{#                <h1>{% trans "Size &amp; Colours" context "Homepage title" %}</h1>#}
{#                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="col-sm-12 col-md-6 home__block3">#}
{#        <div class="home--square">#}
{#          <div class="home--content">#}
{#            <div class="home--content-wrapper">#}
{#              <div class="home--content-inner">#}
{#                <h1>{% trans "Digital Downloads" context "Homepage title" %}</h1>#}
{#                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

  </div>
{% endblock %}
